$color-orange: #ff5e1b;
$color-error: #d9252b;
$color-sky: #29b1cc;

// grey
$color-black: #33333a;
$color-gray-10: #4d4d54;
$color-gray-20: #66666d;
$color-gray-30: #808087;
$color-gray-40: #9999a0;
$color-gray-50: #b2b2b9;
$color-gray-60: #ccccd3;
$color-gray-70: #e6e6ed;
$color-white: #ffffff;
