@import "../../../styles/styles.scss";

.Header {
  background-color: $color-black;
  color: $color-white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 20px;

  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
